



/******** HOME.BLADE.PHP/resources *******/

.message{
    background-color:darkorange;
    border-radius: 50%; 
}

#content {
    width:60%;
}

.card-header{
    background-color:deepskyblue;
}

.photo_user{
    width:15%;
    border-radius: 50%;
}

.commentaire {
    background-color: darkorange;
    border-radius: 15px;
}


/******** EDIT.BLADE.PHP/post et comment*******/

.modifpost {
    background-color: darkorange;
    border-radius: 50%;
}

.validermodif {
    width:20%;
}
