
/************* GENERAL****************/

.navbar {
    background-color: darkorange !important;
}

body {
    background-image: 
        url(../views/images/wallpaper.jpg);
    background-size: 100%; 
}

h1,
h2,
h3{
    padding-top: 2%;
    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6));
    border-radius: 200px;
}

.titre {
    padding : 0% 30% 0% 30%;
}

p {
    color: white;
}

.btn {
    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
}

.btn:hover {
    background-color: white;
    box-shadow: 7px 5px 5px;
}

span {
    color: deepskyblue;
}

.card {
    margin-bottom: 5%!important;
}

.footer {
    background-color: darkorange;
   
}

/******** APP.BLADE.PHP/resources *******/
.logo {
    border-radius: 20px;
}

.search {
    border-radius: 10px;
}

.btn-search {
    border-radius: 10px;
    background-color: deepskyblue;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
}

.btn-search:hover {
    background-color: white;
    color: deepskyblue;
    box-shadow: 7px 5px 5px deepskyblue;
}

.Ins-con {
    margin-top: 50%;
    margin-bottom: 50%;
}

/******** LOGIN/REGISTER/HOME.BLADE.PHP/resources *******/

.ins-cnx-com {
    background-color: deepskyblue;
}

.card-ins-cnx-com {
    background-color: darkorange;
}




/******** HOME.BLADE.PHP/resources *******/
.accueil {
    padding: 0% 25% 0% 25%;
}

.message {
    background-color: deepskyblue;
    border-radius: 50%;
}

.commentaire {
    background-color: darkorange;
    border-radius: 50%;
}

#content {
    width: 60%;
}

.pen {
    color: white;
}

.hashtag {
    color:white;
}

.post {
    background-color: darkorange;
}

.card-post {
    background-color: deepskyblue;
}

.photo_user {
    width: 15%;
    border-radius: 50%;
}

.photo_message {
    width: 40%;
}

.photo_commentaire {
    width: 30%;
}

.Modif-Valid {
    background-color: dodgerblue;
}

.Modif-Valid:hover {
    color: dodgerblue;
    box-shadow: dodgerblue;
}

.Commenter {
    background-color: darkorange;
}

.Commenter:hover {
    color: darkorange;
    box-shadow: darkorange;
}

.Supprimer {
    background-color: red;
}

.Supprimer:hover {
    color: red;
    box-shadow: red;
}


/******** PROFIL.BLADE.PHP*******/
.bienvenue {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: x-large;
}

.date {
    padding-top: 5%;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7));
    border-radius: 200px;
}

/******** EDIT.BLADE.PHP/post et comment*******/

.modifpost {
    background-color: darkorange;
    border-radius: 50%;
    margin-bottom: 18%;
}




/******** EDIT.BLADE.PHP/user*******/

.mesinfos {
    margin-bottom: 20%;
}

.card-mesinfos {
    background-color: darkorange;
}

.upload {
    width:200%;
}








/*==============MEDIA QUERIES 991px=============*/


@media screen and (max-width: 991px) {

/* EDIT.BLADE.PHP/user */

.mesinfos {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.card-mesinfos {
   width:150%;
}

.photo_profil {
    margin:auto;
    margin-bottom: 5%;
}

.Supprimer {
    margin-right:13.5%;
}



}
/*==============MEDIA QUERIES 767px=============*/


@media screen and (max-width: 767px) {

/* GENERAL */ 
h1, h2, h3{
    border-radius: 50px;
    width: 100%;
}


/* INDEX.BLADE.PHP */ 

.inscription-connexion {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Inscription {
    margin-bottom:5%;
}

.Ins-con {
    margin-top: 0%;
}


/* REGISTER.BLADE.PHP */

.facultative {
    display:flex;
    justify-content:start !important;
}


/* HOME.BLADE.PHP */

.message {
    border-radius: 20px;
}

.commentaire {
    border-radius: 20px;
}

#tagspost {
    width:100%
}


/* EDIT.BLADE.PHP/post et comment */

.modifpost {
    border-radius : 20px;
}

#message {
    width :200%;
}

#tags {
    width:200%;
}

/* EDIT.BLADE.PHP/user */


.upload {
    width:100%;
}

.Supprimer {
    margin-right:6%;
}


/* PROFIL.BLADE */

.poste-modifie {
    font-size: 80%;
}


}


/*==============MEDIA QUERIES 492px=============*/

@media screen and (max-width: 492px) {

    .modifpost {
        margin-bottom: 30%;
    }

}

